{% from "macros/_form.html" import render_form %}
{% extends "settings/layout.html" %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        // Tooltips for form fields
        createFormTooltip('#name', 'The name for the user.');
        createFormTooltip('#email', 'The email for the user.');
        createFormTooltip('#password', 'The password for the user.');
        createFormTooltip('#password_again', 'Confirm password for the user.');
        createFormTooltip('#role_code-0', 'Assign as admin user.');
        createFormTooltip('#role_code-1', 'Assign as standard user.');
        createFormTooltip('#status_code-0', 'User will be inactive (cannot log in).');
        createFormTooltip('#status_code-1', 'Mark user as new (first login pending).');
        createFormTooltip('#status_code-2', 'User is active and can log in.');
    });
</script>
{% endblock %}

{% block body %}
<div id="data">
    {{ render_form(url_for('users.create') if user_id is none else url_for('users.edit', user_id=user_id), form) }}
    {% if user_id %}
    <p><a href="{{ url_for('user.history', user_id=user_id) }}">View Login History</a></p>
    {% endif %}
</div>
{% endblock %}
