{% extends "settings/layout.html" %}

{% block pagejs %}
{% include 'js/admin/users.js' %}
{% endblock %}

{% block body %}
<div id="data">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="users-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Created Date</th>
                    {% if users %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('users.edit', user_id=user.id) }}">{{ user.name }}</a></td>
                    <td class="status-cell" data-user-id="{{ user.id }}" data-status-code="{{ user.status_code }}">
                        <a href="#" class="toggle-status">{{ user.status }}</a>
                    </td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.created_time.strftime('%m-%d-%Y %H:%M') }}</td>
                    <td>
                        {% if user.id != 1 %}
                        <a href="{{ url_for('users.delete', user_id=user.id) }}" class="delete-user">
                            <img src="{{ url_for('static', filename='img/red_x.png') }}" alt="Delete"/>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a id="clear" class="btn btn-primary" href="{{ url_for('users.create') }}">New User</a>
    <a id="failed_logins" class="btn btn-primary" style="float: right; margin-top: 5px; margin-right: 5px;"
       href="{{ url_for('users.failed_logins') }}">View Failed Logins</a>
</div>
{% endblock %}
