Babel

Flask>=3.0,<4.0

Flask-Babel

flask-caching

Flask-Login

Flask-Mail

Flask-OpenID

Flask-SQLAlchemy

Flask-Testing

Flask-WTF

Jinja2

Mako

MarkupSafe

Pygments

SQLAlchemy

Sphinx>=1.2.2       #Pin to >=1.2.2

WTForms

Werkzeug

alarmdecoder

alembic

argparse

async

blinker

cffi

cryptography

docutils

gevent

gevent-socketio

gevent-websocket

gitdb

greenlet

itsdangerous

jsonpickle

mock

nose

psutil

pyOpenSSL

pycparser

python-openid

pytz

sh

six

slixmpp

smmap

speaklater

netifaces

numpy

chump

twilio

gntp

miniupnpc

zeroconf
