{% extends 'settings/layout.html' %}
{% from "macros/_form.html" import render_form %}

{% set page_title = 'AlarmDecoder Firmware Update' %}

{% block css %}
<!-- Styles for firmware update progress and error highlighting -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<style>
    .upload-error { color: red !important; }
    .ui-progressbar-value { background: #78aee6 none 50% 50% repeat-x !important; }
    #progress_label { position: absolute; bottom: 15%; }
    #progress_bar { position: absolute; bottom: 0; width: 90%; }
    .progress_label { font-size: 11px; font-weight: bold; color: #3b3b3b; }
</style>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    <!-- Embed firmware data and status for use in external JS -->
    var firmwareData = {{ firmwarejson|tojson|safe }};
    var currentFirmware = "{{ current_firmware }}";
    var allOk = {{ all_ok }};
</script>
{% include 'js/updater/firmware.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <h3>Firmware (<span id="current_version" style="color: green;">{{ current_firmware }}</span>)</h3>

    {% if firmwarejson %}
      {% for category, firmware_list in firmwarejson.items() %}
        <!-- Firmware versions table -->
        <table id="firmware-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Release Notes</th>
                    <th>Type</th>
                    <th>Panels</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
            {% for fw in firmware_list %}
                <tr>
                    {% set verString = 'V' + fw['version'] %}
                    {% if verString == current_firmware %}
                        <td>{{ fw['version'] }} (<span id="installed" style="color: green;">Installed</span>)</td>
                    {% else %}
                        <td>{{ fw['version'] }}</td>
                    {% endif %}
                    <td><a href="{{ fw['notes'] }}" target="_blank">Link</a></td>
                    <td>{{ fw['tag'] }}</td>
                    <td>{{ fw['panel_support'] }}</td>
                    <td><a href="{{ fw['file'] }}">Download</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      {% endfor %}
    {% endif %}

    <br/>
    <!-- Firmware download form (from AlarmDecoder site) -->
    <h4 id="head">Download and Install Firmware from the AlarmDecoder website</h4>
    {{ render_form(url_for('update.update_firmware'), form, formid='uploader_json') }}

    <br/>
    <!-- Manual firmware upload form -->
    <h4>Specify a Firmware File</h4>
    {{ render_form(url_for('update.update_firmware'), form2, formid='uploader_manual') }}
</div>

<!-- Hidden dialog for upload progress -->
<div id="dialog" style="display: none;">
    <div id="firmwarefile"><!-- Filled dynamically with file name --></div>
    <div id="progress_label" class="progress_label">Starting...</div>
    <div id="progress_bar"><!-- jQuery UI progress bar --></div>
</div>
{% endblock %}

{% block js_btm %}
<!-- Include necessary JS libraries for this page -->
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-confirm.min.js') }}"></script>
{% endblock %}
