{% from "macros/_form.html" import render_form %}
{% extends 'settings/layout.html' %}

{% block css %}{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#email').click(function() {
            $('#email_address').prop('disabled', !$('#email').is(":checked"));
        });
        $('#local_file').click(function() {
            var checked = $('#local_file').is(":checked");
            $('#local_file_path').prop('disabled', !checked);
            $('#days_to_keep').prop('disabled', !checked);
        });
        $('#email').css({marginTop: '-=5px'});
        $('#local_file').css({marginTop: '-=5px'});
        $('#email_address').prop('disabled', !$('#email').is(":checked"));
        if( $('#local_file').is(":checked") ) {
            $('#local_file_path').prop('disabled', false );
            $('#days_to_keep').prop('disabled', false );
        } else {
            $('#local_file_path').prop('disabled', true );
            $('#days_to_keep').prop('disabled', true );
        }
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    {{ render_form(url_for('settings.configure_exports'), form) }}
</div>
{% endblock %}

{% block js_btm %}{% endblock %}
