{% from "macros/_form.html" import render_form %}
<title>Diagnostics</title>
{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
{% endblock %}

{% block pagejs %}
{% include 'js/settings/diagnostics.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="import_list">
        <strong>Modules</strong> – The following Python modules are required by the system. Modules in <font color="green">green</font> are present; those in <font color="red">red</font> are missing. Missing modules may disable certain features. It is recommended to install all modules listed in requirements.txt.
        <br/>
        <button id="test_modules" class="btn btn-primary">Test Modules</button>
        &nbsp;&nbsp;&nbsp;
        <span><input type="checkbox" id="chk_showall"/><span style="margin-left: 5px;"><b>Show All</b></span></span>
        <br/>
        <div id="loading"></div>
        <div id="import_list_detail" style="overflow-x: hidden; height: 270px;">
        </div>
    </div>
    <br/>
    {% if settings['mode'] == 'ADEMCO/Honeywell' %}
    <div id="queryEventLog">
        <button type="button" class="btn btn-primary" id="startEventQuery">Panel Event Log</button>
    </div>
    {% endif %}
    <div id="device_settings">
        <h3>AlarmDecoder device settings:</h3>
        <table id="decoder_settings" class="table table-striped table-bordered table-condensed table-responsive">
            <tbody>
                <tr><td width="20%">Address</td><td>{{ settings['address'] }}</td></tr>
                <tr><td>Configbits</td><td>{{ settings['configbits'] }}</td></tr>
                <tr><td>Address Mask</td><td>{{ settings['address_mask'] }}</td></tr>
                <tr><td>Zone Expander Emulation</td><td>{{ settings['emulate_zone'] }}</td></tr>
                <tr><td>Relay Emulation</td><td>{{ settings['emulate_relay'] }}</td></tr>
                <tr><td>LRR Emulation</td><td>{{ settings['emulate_lrr'] }}</td></tr>
                <tr><td>Deduplicate</td><td>{{ settings['deduplicate'] }}</td></tr>
                <tr><td>Panel Type</td><td>{{ settings['mode'] }}</td></tr>
                <tr><td>Firmware version</td><td>{{ settings['firmware'] }}</td></tr>
                <tr><td>Serial Number</td><td>{{ settings['serial'] }}</td></tr>
                <tr><td>Device Flags</td><td>{{ settings['flags'] }}</td></tr>
            </tbody>
        </table>
    </div>
    <div id="decoder">
        <strong><button id="test_decoder" class="btn btn-primary">Test Device</button></strong>
        <div id="decoder_detail" style="display:none;">
            <table id="test_results">
                <tr id='test-open'>
                    <td class='test-description'>Opening device</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <tr id='test-config'>
                    <td class='test-description'>Saving device configuration</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <tr id='test-send'>
                    <td class='test-description'>Keypad communication (Send)</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <!-- Additional test result rows would go here -->
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js_btm %}{% endblock %}
