{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<style type="text/css">
    /* Styles for panel info dialog and progress */
    #info_dialog { position: relative; }
    .progress_label { position: absolute; bottom: 15%; }
    #progressbar { position: absolute; bottom: 0; width: 90%; }
</style>
{% endblock %}

{% block pagejs %}
{% include 'js/setup/device.js' %}
{% endblock %}

{% block body %}
<div id="setup" class="container">
    <h3>AlarmDecoder Settings</h3>
    <div>
        <p>
            Finally, configure the AlarmDecoder device itself. Most settings can remain at their defaults, but the Keypad Address should be set to an address enabled on your alarm panel (unique to this device).
        </p>
        <p>
            For Honeywell **SE** panels, use address 31. For other Honeywell/Ademco panels, use any free address (after enabling it on the panel). Refer to your alarm panel documentation or consult your alarm provider to ensure the address is available for the AlarmDecoder.
        </p>
        <p id="honeywellHelper">
            Tip: For some Honeywell/Ademco panels, clicking "Get Panel Info" can retrieve the installer code and more (for panels supporting AUI protocol). If unsupported, you will be notified.
        </p>
    </div>
    <!-- Hidden info dialog elements (populated by device.js when "Get Panel Info" is used) -->
    <div id="info_dialog" style="display: none;">
        <div id="panel_version" style="display: none;"></div>
        <div id="panel_firmware" style="display: none;"></div>
        <div id="asciicode" style="display: none;"></div>
        <div id="numdevices" style="display: none;"></div>
        <div id="devices" style="display: none;"><b>Possible Keypads</b></div>
        <br/>
        <div class="progress_label" style="display: none;">Starting...</div>
        <div id="progressbar" style="display: none;"></div>
    </div>
    <!-- Action buttons for panel info and address mask helpers -->
    <button id="getPanelInfo" class="btn btn-primary">Get Panel Info</button>
    <br/><br/>
    <div id="loading"></div>
    {{ render_form(url_for('setup.device'), form) }}
    <!-- Buttons to trigger address mask building dialog (for address_mask and internal_address_mask) -->
    <button id="address_mask_builder" type="button" class="btn btn-info">Build Address Mask</button>
    <button id="internal_address_mask_builder" type="button" class="btn btn-info">Build Address Mask</button>
</div>

<!-- Dialog for building keypad address mask (opened by device.js) -->
<div id="dialog" style="display:none;" title="Keypad Addresses">
    <img id="exit" src="{{ url_for('static', filename='img/red_x.png') }}" style="float: right;" height="24" width="24" alt="Close"/>
    <div id="keypad-mask-instructions">
        Please select the keypad addresses you want the AlarmDecoder to emulate, then click OK.
    </div>
    <!-- (Checkable list of addresses will be populated here by device.js) -->
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
