{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        // Optionally, add any JS needed for file inputs or validations
        // (Currently none; browser will handle file selection UI)
    });
</script>
{% endblock %}

{% block body %}
<div id="setup" class="container">
    <h3>SSL Certificate Upload</h3>
    <div>
        <p>
            Please upload the SSL certificates required to connect to the AlarmDecoder’s encrypted ser2sock service. These include:
        </p>
        <ul>
            <li><strong>CA Certificate:</strong> The Certificate Authority file that was used to sign the server's certificate.</li>
            <li><strong>Client Certificate:</strong> The client certificate for this web application.</li>
            <li><strong>Client Key:</strong> The private key corresponding to the client certificate.</li>
        </ul>
        <p>All fields are required to establish an encrypted connection.</p>
    </div>
    <br>
    {{ render_form(url_for('setup.sslclient'), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
