{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        // Tooltips for form fields
        createFormTooltip('#device_type', 'Select the physical AlarmDecoder device model.');
        createFormTooltip('#device_location', 'Choose "Local" if the device is connected to this machine, or "Network" if it is accessible over the network via ser2sock or similar.');
    });
</script>
{% endblock %}

{% block body %}
<div id="setup" class="container">
    <h3>Device Type Settings</h3>
    <div>
        <p>
            Please select which type of AlarmDecoder device you have, as well as its
            current location relative to the machine running this webapp.
        </p>
        <ul>
            <li><strong>Local Device:</strong> The device is directly connected to this computer.</li>
            <li><strong>Network Device:</strong> The device is exposed on your network (via ser2sock or another IP-to-Serial interface).</li>
        </ul>
    </div>
    <br>
    {{ render_form(url_for('setup.type'), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
