{% from "macros/_form.html" import render_form %}
{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        createFormTooltip('#zone_id', 'The numeric zone ID reported by the panel.');
        createFormTooltip('#name', 'A short name for this zone (e.g., Front Door).');
        createFormTooltip('#description', 'A longer description of the zone.');
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    {{ render_form(url_for('zones.create'), form) }}
</div>
{% endblock %}
